<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GHLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D77B7141F0A2BD00024DCC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D77B72D1F0A2BD00024DCC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D77B7381F0A2BD00024DCC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
